body{
  margin-left:200px;
  margin-right: 200px;
  margin-top: 50px;
}
#all{
  margin-top:50px;
  margin-left:70px;
  background-color: #F5F5F5;
  border-radius: 3px;
    /*background-image: url(fond.png);
  background-image: url(baniere.png);*/
    padding: 0px;
}
.in{
  text-align:left;
}
header{
    border-bottom: 2px groove gray;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  font-size: 24px;
  text-align: center;
}
footer{
  text-align:center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#logo1{
  margin-left: 10px;
  width:200px;
}
#logo2{
  margin-left: 400px;
  width:200px;
}
input{
  border-radius:4px;
}
td{
  text-align: :center;
}
#contenu{
  margin-left:30px;
  margin-right:30px;
  color: gray;
  border-radius:3px;
  margin-top: 50px;

}
#Peleve{
  background-color: #FFFACD;
}
#Ppersonel{

}
#Penseignant{
  background-color: #E0FFFF;
}
.tab1{
    background-color: #FFFACD;
}
#tab th{
  color:#00008B;
  background-color:#4169E1;
}
tab{}
#add{
  background-color:#00008B;
  color:white;
  font-size: 20px;
  border-radius: 2px;
}
