<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Acceuil Fiche Pointage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="pointage" style="margin-left:200px; margin-right:200px;">
      <div  id="all">
          <header class="w3-margin-top">
            <h2>Fiche Pointage Lycee de Medina Fall</h2>
          </header>
          <div class="w3-bar w3-dark-grey">
            <a href="./index.html" class="w3-bar-item w3-button w3-mobile w3-green" style="width:20%">Home</a>
            <a href="./enseignant.html" class="w3-bar-item w3-button w3-mobile" style="width:20%">Enseignants</a>
            <a href="./personel.html" class="w3-bar-item w3-button w3-mobile" style="width:20%">Personel</a>
            <a href="./eleve.html" class="w3-bar-item w3-button w3-mobile" style="width:20%">Eleves</a>
            <input type="text"  class="w3-bar-item w3-input" style="width:18%; height:30px;margin-top:2px;" ng-model="test" placeholder="Rechercher">
          </div>
      <div class="w3-container" id="contenu">
        <div class="w3-container">
          <table class="w3-table" id="tab">
            <tr>
                <td colspan="4">Informations Pesonnelles</td>
                <td><button type="button" name="button" ng-click = "active = !active" id="add">Pointer</button></td>
            </tr>
          </table>
          <div class="w3-container" ng-show="!active">
            <h3 class="w3-green">Pointage</h3>
            <form id="formulaire1">
              <label>firstname</label>
              <input type="text" class="w3-input w3-border" ng-model="newUsers.firstname" required>
              <label>Name</label>
              <input type="text" class="w3-input w3-border" ng-model="newUsers.name" required>
              <label>Heure d'arrivée</label>
              <input type="datetime" class="w3-input w3-border" ng-model="newUsers.Harrive" placeholder="HH:mm" min="05:00" max="16:00" min="5:00" max="16:00" required>
              <label>Heure de depart</label>
              <input type="datetime" class="w3-input w3-border" ng-model="newUsers.Hdepart" placeholder="HH:mm" min="05:00" max="16:00" min="5:00" max="16:00" required>
              <label>Categorie</label></br>
                            <select  ng-model="newUsers.categori" class="w3-input w3-border" >
                              <option value = "eleve">Eleve</option>
                              <option value = "enseignant">Enseignant</option>
                              <option value = "Personel">Personel</option>
                            </select>
              <button type="button" name="button" ng-click="addUsers()">Enregistrer</button>
            </form>
          </div>
          <table class="w3-table w3-bordered tab1">
            <h3 class="w3-green">Liste des Pointages</h3>
            <tr>
              <th>firstname</th>
              <th>Name</th>
              <th>Heure d'arrivée</th>
              <th>Heure de depart</th>
              <th>Categorie</th>
            </tr>
          <tr>
          <tr ng-repeat="user in Liste | filter: test">
            <td>{{user.firstname}}</td>
            <td>{{user.name}}</td>
            <td>{{user.Harrive}}</td>
            <td>{{user.Hdepart}}</td>
            <td>{{user.categori}}</td>
          </tr>
          </table>
        </div>
      </div>

      <footer class="w3-green w3-margin-top">
        <span>Created By CDK@NE Bakeliste</span>
      </footer>
    </div>
  </body>
</html>
