<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Acceuil Fiche Pointage</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
  <body ng-app="myApp" ng-controller="pointage" style="margin-left:200px; margin-right:200px;">
      <div  id="all">
          <header class="w3-margin-top">
            <h2>Lycee de Medina Fall</h2>
          </header>
          <div class="w3-bar w3-dark-grey">
            <a href="./index.html" class="w3-bar-item w3-button w3-mobile w3-green" style="width:20%">Home</a>
            <a href="./enseignant.html" class="w3-bar-item w3-button w3-mobile" style="width:20%">Enseignants</a>
            <a href="./Personel.html" class="w3-bar-item w3-button w3-mobile" style="width:20%">Personel</a>
            <a href="./eleve.html" class="w3-bar-item w3-button w3-mobile" style="width:20%">Eleves</a>
            <a href="./search.html" class="w3-bar-item w3-button" style="width:20%; height:30px;margin-top:2px;"><i class="fa fa-search"></i></a>
          </div>
      <div class="">
          <input type="text"  class="w3-bar-item w3-input" style="width:30%;margin-top:40px; margin-left:500px;" ng-model="test" placeholder="Rechercher">
          <table class="w3-table w3-bordered tab1">
            <h3 class="w3-green">Liste des Pointages</h3>
            <tr style="background-color:">
              <th>firstname</th>
              <th>Name</th>
              <th>Heure d'arrivée</th>
              <th>Heure de depart</th>
            </tr>
            <tr ng-repeat="user in Liste | filter:test">
              <td>{{user.firstname}}</td>
              <td>{{user.name}}</td>
              <td>{{user.Harrive}}</td>
              <td>{{user.Hdepart}}</td>
            </tr>
          </table>
        </div>
    </div>
  </body>
</html>
